<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valen.piedrapapeltijera">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ppt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fondonegro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jugarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Historial"
            android:theme="@style/AppTheme2"
            android:label="Piedra papel o tijera"
            >
        </activity>

    </application>

</manifest>